3to2==1.1.1
absl-py==0.5.0
aiohttp==3.5.4
alabaster==0.7.10
anaconda-client==1.6.5
anaconda-navigator==1.6.9
anaconda-project==0.8.0
appdirs==1.4.3
asn1crypto==0.22.0
astor==0.7.1
astroid==1.5.3
astropy==2.0.2
async-timeout==3.0.1
atomicwrites==1.3.0
attrs==19.3.0
audiotsm==0.1.2
Babel==2.5.0
backcall==0.1.0
backports.os==0.1.1
backports.shutil-get-terminal-size==1.0.0
beautifulsoup4==4.6.0
bitarray==0.8.1
bkcharts==0.2
blaze==0.11.3
bleach==2.0.0
bokeh==0.12.10
boto==2.48.0
Bottleneck==1.2.1
Brotli==1.0.9
BTrees==4.6.0
cachetools==4.1.1
cairocffi==0.9.0
CairoSVG==2.2.1
carto==1.11.1
certifi==2020.6.20
cffi==1.10.0
chardet==3.0.4
click==6.7
cloudpickle==1.2.2
clyent==1.2.2
colorama==0.3.9
conda==4.8.3
conda-build==3.0.27
conda-package-handling==1.6.0
conda-verify==2.0.0
contextlib2==0.5.5
cryptography==2.0.3
cssselect2==0.2.1
cycler==0.10.0
Cython==0.26.1
cytoolz==0.8.2
dash==1.18.1
dash-core-components==1.14.1
dash-html-components==1.1.1
dash-renderer==1.8.3
dash-table==4.11.1
dask==0.15.3
dataclasses==0.7
datashape==0.5.4
decorator==4.4.0
deezer-python==0.6.1
defusedxml==0.6.0
dill==0.3.1.1
discord.py==1.0.1
distributed==1.19.1
distro==1.4.0
Django==2.2.5
docutils==0.14
emoji==0.5.4
entrypoints==0.2.3
et-xmlfile==1.0.1
factordb-pycli==1.2.0
fastcache==1.0.2
filelock==2.0.12
Flask==1.1.2
Flask-Compress==1.8.0
Flask-Cors==3.0.3
forbiddenfruit==0.1.3
future==0.17.1
fuzzysearch==0.6.2
gast==0.2.0
gevent==1.2.2
glob2==0.5
gmpy2==2.0.8
google-api-core==1.22.2
google-auth==1.21.3
google-cloud-bigquery==0.29.0
google-cloud-core==0.28.0
google-cloud-speech==2.0.0
google-resumable-media==0.3.1
googleapis-common-protos==1.52.0
greenlet==0.4.12
grpcio==1.32.0
gunicorn==20.0.4
gym==0.15.4
h5py==2.8.0
heapdict==1.0.0
html5lib==0.999999999
hypothesis==4.54.2
idna==2.10
idna-ssl==1.1.0
imageio==2.5.0
imageio-ffmpeg==0.4.2
imagesize==0.7.1
importlib-metadata==1.3.0
ipykernel==4.6.1
ipython==6.1.0
ipython-genutils==0.2.0
ipywidgets==7.0.0
isort==4.2.15
itsdangerous==0.24
jdcal==1.3
jedi==0.10.2
jeepney==0.4.1
Jinja2==2.11.2
joblib==0.14.1
json5==0.8.5
jsonschema==3.2.0
jupyter-client==5.1.0
jupyter-console==5.2.0
jupyter-core==4.3.0
jupyterlab==0.27.0
jupyterlab-launcher==0.4.0
jupyterlab-server==1.0.0
kaggle==1.0.4
kaggle-environments==0.1.4
Keras==2.0.8
Keras-Applications==1.0.6
Keras-Preprocessing==1.0.5
keyring==20.0.0
kiwisolver==1.1.0
lazy-object-proxy==1.3.1
libcst==0.3.10
line-profiler==2.1.2
llvmlite==0.30.0
locket==0.2.0
lxml==4.1.1
lycon==0.1.9
Markdown==3.0.1
MarkupSafe==1.0
matplotlib==3.1.1
mccabe==0.6.1
mistune==0.7.4
mkl-fft==1.0.15
mkl-random==1.1.0
mkl-service==2.3.0
mlcrate==0.2.0
more-itertools==8.0.2
moviepy==1.0.3
mpmath==0.19
msgpack-python==0.4.8
multidict==4.5.2
multipledispatch==0.4.9
multiprocess==0.70.9
mypy-extensions==0.4.3
navigator-updater==0.1.0
nbconvert==5.3.1
nbformat==4.4.0
networkx==2.3
nltk==3.2.4
nose==1.3.7
notebook==5.0.0
numba==0.46.0
numexpr==2.6.2
numpy==1.19.0
numpydoc==0.7.0
odo==0.5.1
olefile==0.44
openpyxl==2.4.8
packaging==16.8
pandas==0.25.3
pandocfilters==1.4.2
parso==0.5.2
partd==0.3.8
path.py==10.3.1
pathlib2==2.3.0
pathos==0.2.5
patsy==0.4.1
pdfminer.six==20170720
pdftotree==0.4.0
pep8==1.7.0
persistent==4.5.0
pexpect==4.2.1
pickleshare==0.7.4
Pillow==6.1.0
pkginfo==1.4.1
plotly==4.14.3
pluggy==0.13.1
ply==3.10
pox==0.2.7
ppft==1.6.6.1
primefac==1.1.1.post2
proglog==0.1.9
prometheus-client==0.7.1
prompt-toolkit==1.0.15
proto-plus==1.10.0
protobuf==3.13.0
psutil==5.6.7
ptyprocess==0.5.2
py==1.4.34
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.3.1
pycosat==0.6.3
pycparser==2.18
pycrypto==2.6.1
pycryptodome==3.4.7
pycurl==7.43.0
pyflakes==1.6.0
pyglet==1.3.2
Pygments==2.2.0
PyJWT==1.7.1
pylint==1.7.4
pyodbc==4.0.17
pyOpenSSL==17.2.0
pyparsing==2.4.0
PyPDF2==1.26.0
pypinfo==8.0.0
pyrestcli==0.6.11
pyrsistent==0.15.7
PySocks==1.6.7
pytest==3.2.1
pytest-arraydiff==0.3
pytest-astropy==0.7.0
pytest-astropy-header==0.1.1
pytest-doctestplus==0.5.0
pytest-openfiles==0.4.0
pytest-remotedata==0.3.2
python-dateutil==2.8.1
pytube==9.4.0
pytz==2020.1
PyWavelets==1.0.3
PyYAML==5.3.1
pyzmq==16.0.2
QtAwesome==0.4.4
qtconsole==4.3.1
QtPy==1.3.1
requests==2.24.0
requests-toolbelt==0.8.0
retrying==1.3.3
rope==0.10.5
rsa==4.6
ruamel-yaml==0.11.14
scikit-image==0.15.0
scikit-learn==0.22
scipy==1.3.2
seaborn==0.8
SecretStorage==3.1.1
selectivesearch==0.4
Send2Trash==1.5.0
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.15.0
sklearn==0.0
slackclient==1.2.1
slacker==0.9.65
snowballstemmer==1.2.1
sortedcollections==0.5.3
sortedcontainers==1.5.7
soupsieve==1.9.5
sourcebotsrgslib==0.0.0
Sphinx==1.6.3
sphinx-rtd-theme==0.2.4
sphinxcontrib-websupport==1.0.1
spotipy==2.4.4
spyder==3.2.4
spyder-kernels==1.4.0
SQLAlchemy==1.1.13
sqlparse==0.3.0
srt==3.4.1
statsmodels==0.8.0
sympy==1.1.1
tables==3.4.4
tabula-py==1.3.1
tblib==1.3.2
tensorboard==1.10.0
tensorflow==1.10.0
termcolor==1.1.0
terminado==0.6
testpath==0.3.1
tinycss2==0.6.1
tinydb==3.7.0
tinyrecord==0.1.4
toolz==0.8.2
tornado==4.5.2
tqdm==4.40.2
traitlets==4.3.2
transaction==2.4.0
twilio==6.48.0
twine==1.9.1
typed-ast==1.4.0
typing==3.6.2
typing-extensions==3.7.4.3
typing-inspect==0.6.0
ucamcl==1.0.4
unicodecsv==0.14.1
urllib3==1.25.10
Wand==0.5.5
wcwidth==0.1.7
webencodings==0.5.1
websocket-client==0.47.0
websockets==6.0
Werkzeug==1.0.1
widgetsnbextension==3.0.2
wrapt==1.10.11
wurlitzer==2.0.0
xgboost==0.90
xlrd==1.1.0
XlsxWriter==1.0.2
xlwt==1.3.0
yarl==1.3.0
zc.lockfile==2.0
ZConfig==3.5.0
zdaemon==4.3
ZEO==5.2.1
zict==0.1.3
zipp==0.6.0
ZODB==5.5.1
zodbpickle==1.0.4
zope.interface==4.6.0
